<div class="section-full mobile-page-padding mission-outer-section  p-t80 p-b30 bg-gray bg-no-repeat bg-right-center" >
    <div class="section-content">
        <div class="container">
            <!-- TITLE START -->
            <div class="section-head"> 
                <div class="mt-separator-outer separator-center">
                    <div class="mt-separator">
                        <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Contacto </span> Expresss</h2>
                    </div>
                    <br>
                    <span class="icon-cell">
                        <img src="assets/images/icon/email.png" width="50px" style="cursor: pointer;">
                    </span>
                </div>
            </div>                  
            <!-- TITLE END -->
            
            
            <div class="row">


                <div class="col-md-5 col-sm-12">
                    <div class="mission-mid bg-no-repeat bg-cover m-b30" style="background-image:url(assets/images/mission.jpg);"></div>
                </div>


                
                
              
                
                <div class="col-md-7 col-sm-12">
                    <div class="contact-home1-left bg-dark p-a30 m-b0" style="background-image:url(assets/images/background/bg-6.png)">
                        <h3 class="text-white m-t0"><span class="font-weight-100">Ponerse en </span> contacto</h3>
                        <form class="cons-contact-form2 form-transparent" method="post" action="form-handler2.php">
                          
                            <div class="input input-animate">
                                <label for="name">Nombres</label>
                                <input type="text" name="username"  id="name" required>
                                <span class="spin"></span>
                            </div>
                            
                            <div class="input input-animate">
                                <label for="email">Correo electronico</label>
                                <input type="email" name="email"   id="email" required>
                                <span class="spin"></span>
                            </div> 
                            
                            <div class="input input-animate">
                                <label for="Phone">Telefono</label>
                                <input type="text" name="phone"  id="Phone" required>
                                <span class="spin"></span>
                            </div>   
                            
                            <div class="input input-animate">
                                <label for="message">Mensaje</label>
                                <textarea name="message"  id="message" required></textarea>
                                <span class="spin"></span>
                            </div>
                            
                            <div class="text-center p-t10">
                                <button type="submit" class="site-button btn-effect ">
                                  Enviar mensaje
                                </button>
                            </div>    
                        </form>
                    </div>
                </div>   


                
                
                
            </div>



          




            
        </div>
    </div>
    <br><br><br>
    <!-- <div class="hilite-title text-left p-l50 text-uppercase text-pop-up-top">
        <strong>Contacto</strong>
    </div>                     -->
</div>