<div class="section-full our-team-3-wrap p-t80 p-b50 bg-white inner-page-padding">
    <div class="container">

        <div class="section-head">
            <div class="mt-separator-outer separator-left">
                <div class="mt-separator">
                    <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Nuestro</span>  Equipo
                    </h2>
                </div>
            </div>
        </div>

        <div class="section-content">
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30" *ngFor="let object of data">
                    <app-team-box2 [data]="object"></app-team-box2>
                </div>

            </div>
        </div>
    </div>

</div>