<!-- <div class="mt-box   image-hover-block">
    <div class="mt-thum-bx">
        <img src="{{data.image}}" alt="">
    </div>
    <div class="mt-info  p-t20 text-white">
        <h4 class="mt-tilte m-b10 m-t0">{{data.title}}</h4>
        <p class="m-b0">{{data.place}}</p>      
    </div>
    <a routerLink="/project-detail"></a>                                    
</div> -->
<!-- <div class="testimonial-2 m-a30 hover-animation-1"> -->
    
<div class="mt-icon-box-wraper p-a30 center m-b30 box-shadow bg-white"  >
    <div class="icon-md inline-icon m-b15 text-primary scale-in-center">
        <span class="icon-cell">
            <img src="{{data.image}}" width="70px" style="cursor: pointer;">
        </span>
    </div>
    <div class="icon-content" style="padding-top: 10px;">
            <h4 class="mt-tilte text-uppercase font-weight-600 m-b20">{{data.title}}</h4>
            <p>{{data.subtitle}}</p>
    </div>
</div>
<!-- </div> -->


