<div class="our-team-1 hover-animation-1">
    <div class="profile-image scale-in-center"><img src="{{data.image}}" alt="" />
    </div>
    <div class="figcaption">
        <h4>{{data.name}} </h4>
        <h5>{{data.designation}}</h5>
        <!-- <p>{{data.description}}</p>
        <div class="icons">
            <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com"> <i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com"> <i class="fa fa-instagram"></i></a>
            <a href="https://rss.com"><i class="fa fa-rss"></i></a>
            <a href="https://www.youtube.com"> <i class="fa fa-youtube"></i></a>
            <a href="https://in.linkedin.com"> <i class="fa fa-linkedin"></i></a>
        </div> -->

        <div class="video-section-full bg-no-repeat bg-cover overlay-wraper"
            style="background-image:url({{data.img}})">
            <div class="overlay-main bg-black opacity-07"></div>
            <div class="video-section-inner">
                <div class="video-section-content">
                    <div class="video-section-left">
                        <a href="{{data.video}}" class="mfp-video play-now">
                            <i class="icon fa fa-play"></i>
                            <span class="ripple"></span>
                        </a>
                    </div>
                    <div class="video-section-right">
                        <a href="{{data.video}}" class="mfp-video font-weight-600 text-uppercase">Video
                            Testimonio</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>