<div class="section-full mobile-page-padding p-t80 p-b50 square_shape2 bg-cover" style="background-image:url(assets/images/background/bg6.jpg);">
    <div class="container">
        <div class="section-content">
            
            <!-- TITLE START -->
            <div class="section-head">
                <div class="mt-separator-outer separator-center">
                    <div class="mt-separator">
                        <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Testimonios de</span> Trabajores / Clientes </h2>
                    </div>
                    <br>
                    <span class="icon-cell">
                        <img src="assets/images/icon/testimonial.png" width="65px" style="cursor: pointer;">
                    </span>
                </div>
            </div>                   
            <!-- TITLE END --> 
            
                <!-- TESTIMONIAL START -->   
             <div class="owl-carousal testimonial-home">
                <div class="item" *ngFor="let object of data">
                    <app-testimonial-box1 [data]="object"></app-testimonial-box1>
                </div>                                                                                                       
            </div>
            
        </div>
    </div>  
</div> 