<div class="section-full p-t80 p-b50 bg-white inner-page-padding">
    <div class="container">
        <div class="section-content ">
             <div class="m-service-containt text-black">
                     <div class="row">
                        <div class="col-md-5 col-sm-12 m-b30">
                            <div class="service-about-left">
                                <div class="mt-media">
                                    <div class="ow-img" style="padding-top: 50px;">
                                       <img src="assets/images/gallery/portrait/large.jpg" width="800px"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <div class="service-about-right m-b30">
                                <h3 class="m-t0">Calidad en nuestros servicios.</h3>
                                <p>Nos caracterizamos por brindar un servicio de calidad y tiempo acordado con todos nuestros clientes, 
                                    promoviendo un modelo empresarial que busca anticipar y gestionar de forma responsable tanto los riesgos laborales y desafíos derivados del desarrollo sostenible.</p>
                                <div class="call-for-quote-outer">
                                    <div class="call-quote">
                                        <span>Llame para una cotización:</span>
                                        <h4>(01) 348 7257</h4>
                                    </div>
                                    <div class="call-estimate bg-dark">
                                        <a routerLink="/contacto" class="site-button-secondry btn-effect">Cotización en línea</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div> 