<header class="site-header header-style-1">

    <!-- <div class="top-bar bg-gray">
        <div class="container">
            <div class="row">
                <div class="mt-topbar-left clearfix">
                    <ul class="list-unstyled e-p-bx pull-right">
                        <li><i class="fa fa-envelope"></i>contacto@texlamerced.com</li>
                        <li><i class="fa fa-phone"></i>+01 348 7257</li>
                        <li><i class="fa fa-clock-o"></i>Lun-Sab 9.45 am</li>
                    </ul>
                </div>
                <div class="mt-topbar-right clearfix">
                    <div class="appint-btn"><a routerLink="/contacto" class="site-button">Cotizar servicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="sticky-header main-bar-wraper">
        <div class="main-bar bg-white">
            <div class="container">
                <div class="logo-header">
                    <div class="logo-header-inner logo-header-one">
                        <a routerLink="/">
                            <img src="assets/images/logo-light.png" alt="" />
                        </a>
                    </div>
                </div>
                <!-- MAIN Vav -->
                <div class="header-nav navbar-collapse collapse">
                    <ul class=" nav navbar-nav">
                        <!-- <li routerLink="/" >
                            <a href="#">Inicio</a>
                        </li> -->
                        <li>
                            <a>Conocenos</a>
                            <ul class="sub-menu">
                                <li><a routerLink="/conocenos">Quienes somos</a></li>
                                <li><a routerLink="/equipo">Nuestro equipo</a></li>
                                <li><a routerLink="/gobierno">Nuestro Gobierno Coorporativo</a></li>
                            </ul>
                        </li>
                        <li>
                            <a routerLink="/servicios2022">Servicios</a>
                            <ul class="sub-menu">
                                <li>
                                    <a >Teñido</a>
                                    <ul class="sub-menu has-child">
                                        <li><a routerLink="/tenido">Teñido Reactivo</a></li>
                                        <li><a routerLink="/tenido">Teñido Disperso</a></li>
                                    </ul>
                                </li>                                        
                                <li>
                                    <a>Acabado</a>
                                    <ul class="sub-menu has-child">
                                        <li><a routerLink="/acabado">Acabado Reactivo</a></li>
                                        <li><a routerLink="/acabado">Acabado Disperso</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a>Termoficado</a>
                                    <ul class="sub-menu has-child">
                                        <li><a routerLink="termoficado">Fondo Termo y Rama</a></li>
                                        <li><a routerLink="termoficado">Packing Abierto / Tubular </a></li>
                                    </ul>
                                </li>                                            
                            </ul>
                        </li>
                        <li>
                            <a routerLink="/tecnologia">Tecnologia</a>
                        </li>
                        <li>
                            <a>Contactanos</a>
                            <ul class="sub-menu">
                                <li><a routerLink="/contacto">Cotizar un Servicio</a></li>
                                <li><a  href="javascript:void(0);" data-toggle="modal" data-target="#Default-Modal">Consultar estado de mi tela</a></li>
                                <li><a  href="javascript:void(0);" data-toggle="modal" data-target="#Default-Modal2">Plantear una Visita</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- MODAL -->
<div id="Default-Modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondry">
                <button type="button" class="close"
                    data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-white">Consultar estado de mi tela</h4>
            </div>
            <div class="modal-body">
                <p>Para poder realizar la consulta "estado del servicio", es necesario descargar el 
                    aplicativo móvil desde la tienda de Google Play.
                </p>
                <div style="text-align: center;">
                    <p>Descargar APP TLM Cliente </p>
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=tlm.app.pe">
                        <img src="assets/images/descargar.png" width="200px">
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                    class="site-button btn-effect button-sm text-uppercase letter-spacing-2"
                    data-dismiss="modal">Cerrar
                </button>
            </div>
        </div>
    </div>
</div>




<!-- MODAL 2-->
<div id="Default-Modal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondry">
                <button type="button" class="close"
                    data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-white">Plantear Visita planta</h4>
            </div>
            <div class="modal-body">
                <p>Para poder programar una  "visitaa planta", es necesario descargar el 
                    aplicativo móvil desde la tienda de Google Play.
                </p>
                <div style="text-align: center;">
                    <p>Descargar APP TLM Cliente </p>
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=tlm.app.pe">
                        <img src="assets/images/descargar.png" width="200px">
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                    class="site-button btn-effect button-sm text-uppercase letter-spacing-2"
                    data-dismiss="modal">Cerrar
                </button>
            </div>
        </div>
    </div>
</div>