<div class="page-wraper">

    <!-- HEADER START -->
    <app-header1></app-header1>
    <!-- HEADER END -->

    <!-- CONTENT START -->
    <div class="page-content">

        <!-- INNER PAGE BANNER -->
        <app-banner1 [data]="banner"></app-banner1>
        <!-- INNER PAGE BANNER END -->

        <!-- ABOUT COMPANY SECTION START -->
        <app-about5></app-about5>
        <!-- ABOUT COMPANY SECTION END -->

        <!-- OUR SPECIALLIZATION START -->
        <app-specializations3 [data]="specializations"></app-specializations3>
        <!-- OUR SPECIALLIZATION END -->

        <!-- OUR All SERVICES START -->

        <div class="section-head" style="padding-top: 50px; margin-bottom: -50px;">
            <div class="mt-separator-outer separator-center">
                <div class="mt-separator">
                    <h2 class="text-uppercase sep-line-one "><span
                            class="font-weight-300 text-primary">Servicio</span> Acabados</h2>
                </div>
            </div>
        </div>

        <app-services3 [data]="services"></app-services3>


       


        <!-- OUR All SERVICES END -->

        <!-- ABOUT COMPANY SECTION START -->
        <!-- <app-about4 [data]="about"></app-about4> -->
        <!-- ABOUT COMPANY SECTION END -->

        <!-- SECTION CONTENT START -->
        <!-- <app-projects3 [data]="projects"></app-projects3> -->
        <!-- SECTION CONTENT END  -->

        <!-- FAQ START -->
        <!-- <app-faq1 [data]="faq"></app-faq1> -->
        <!-- FAQ END -->

    </div>

    <!-- FOOTER START -->
    <app-footer1></app-footer1>
    <!-- FOOTER END -->

</div>

<app-loader></app-loader>