<div class="page-wraper">  
    <app-header1></app-header1>
    <div class="page-content">
    
        <app-banner1 [data]="banner"></app-banner1>
       

         <!-- ABOUT COMPANY SECTION START -->
         <!-- ABOUT COMPANY SECTION END -->
 
         <!-- OUR SPECIALLIZATION START -->
         <app-specializations3 [data]="specializations"></app-specializations3>

         <app-about5></app-about5>

         
    </div>
    <app-footer1></app-footer1>
</div>
<app-loader></app-loader>

