<div class="page-wraper">
    <app-header1></app-header1>
    <div class="page-content">
        <app-slider1></app-slider1>
        
        <app-home-services [data]="home"></app-home-services>
        <app-our-value1 [data]="ourValue"></app-our-value1>



        <!-- <app-specializations1 [data]="specializations"></app-specializations1>
        <app-about1 [data]="aboutSlides"></app-about1>
        <app-mission1></app-mission1>
        <app-services1 [data]="services"></app-services1> -->

        <app-contact-subscription></app-contact-subscription>

        <app-testimonials1 [data]="testimonials"></app-testimonials1>

    </div>
    <app-footer1></app-footer1>
</div>
<app-loader></app-loader>