<div class="page-wraper">  
    <app-header1></app-header1>
    <div class="page-content">
        <app-banner1 [data]="banner"></app-banner1>
        <div class="section-head" style="padding-top: 50px;">
            <div class="mt-separator-outer separator-center">
                <div class="mt-separator">
                    <h2 class="text-uppercase sep-line-one "><span
                            class="font-weight-300 text-primary">Gobierno </span>  coorporativo</h2>
                </div>
            </div>
        </div>
        <div style="text-align: center; padding: 30px;">
            <img src="assets/images/organigrama.jpg" width="40%">
        </div>
    </div>
    <app-footer1></app-footer1>
</div>
<app-loader></app-loader>
