<div class="section-full mobile-page-padding mission-outer-section  p-t80 p-b30 bg-gray bg-no-repeat bg-right-center" >
    <div class="section-content">
        <div class="container">
            <!-- TITLE START -->
            <div class="section-head"> 
                <div class="mt-separator-outer separator-center">
                    <div class="mt-separator">
                        <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Nuestra</span> Mision</h2>
                    </div>
                </div>
            </div>                  
            <!-- TITLE END -->
            
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="mission-left bg-white m-b30 p-a30 bg-no-repeat bg-bottom-left" style="background-image:url(assets/images/background/bg-site.png);">
                        <h3 class="m-t0"><span class="font-weight-100"> Textil la Merced</span><br> Misión</h3>
                        <p>Ofrecer un servicio de tintorería y acabado diferenciado en el mercado nacional. Líderes en innovación y tecnología; satisfaciendo y cumpliendo los requerimiento de 
                            calidad velocidad y atención personalizada en beneficio de nuestros asociados dentro de un mercado exigente y evolución constante.</p>
                        <ul class="list-angle-right anchor-line">
                            <li><a routerLink="/services">Respeto</a></li>
                            <li><a routerLink="/services">Trabajo en equipo</a></li>
                            <li><a routerLink="/services">Seriedad y Cumplimiento</a></li>
                            <li><a routerLink="/services"> Pasion por lo que hacemos</a></li>
                            <li><a routerLink="/services">Honestidad</a></li>
                        </ul>
                        <div class="text-right">
                            <a routerLink="/about" class="site-button-link" data-hover="Read More">Leer Mas <i class="fa fa-angle-right arrow-animation"></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6">
                    <div class="mission-mid bg-no-repeat bg-cover m-b30" style="background-image:url(assets/images/mission.jpg);"></div>
                </div>
                
                <div class="col-md-4 col-sm-12">
                    <div class="contact-home1-left bg-dark p-a30 m-b0">
                        <h3 class="text-white m-t0"><span class="font-weight-100">Ponerse en </span> contacto</h3>
                        <form class="cons-contact-form2 form-transparent" method="post" action="form-handler2.php">
                          
                            <div class="input input-animate">
                                <label for="name">Nombres</label>
                                <input type="text" name="username"  id="name" required>
                                <span class="spin"></span>
                            </div>
                            
                            <div class="input input-animate">
                                <label for="email">Correo electronico</label>
                                <input type="email" name="email"   id="email" required>
                                <span class="spin"></span>
                            </div> 
                            
                            <div class="input input-animate">
                                <label for="Phone">Telefono</label>
                                <input type="text" name="phone"  id="Phone" required>
                                <span class="spin"></span>
                            </div>   
                            
                            <div class="input input-animate">
                                <label for="message">Mensaje</label>
                                <textarea name="message"  id="message" required></textarea>
                                <span class="spin"></span>
                            </div>
                            
                            <div class="text-center p-t10">
                                <button type="submit" class="site-button btn-effect ">
                                  Enviar mensaje
                                </button>
                            </div>    
                        </form>
                    </div>
                </div>   
                
                
                
            </div>
        </div>
    </div>
    <div class="hilite-title text-left p-l50 text-uppercase text-pop-up-top">
        <strong>Mision</strong>
    </div>                    
</div>